<!-- footer -->
<div class="footer py-sm-32">
  <div class="container">
    <div class="d-flex jcsb aic d-sm-block mb-24">
      <a href="index.html" class="mb-sm-8">
        <img src="/assets/images/logo.svg" alt="logo" />
      </a>
      <ul class="d-flex d-sm-block px-sm-12">
        <li class="mr-40 me-sm-0 mb-sm-4">
          <a href="product_list.html" class="py-12">商品列表</a>
        </li>
        <li>
          <a href="brand_story.html" class="py-12">品牌故事</a>
        </li>
      </ul>
    </div>
    <!-- copyright -->
    <div class="copyright">
      <div class="container">
        <p>Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
