/* 顏色 */
:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --primary-500: #477a11;
  --Neutral-0: #ffffff;
  --Neutral-100: #f8f9fa;
  --Neutral-200: #e9ecef;
  --Neutral-300: #dee2e6;
  --Neutral-400: #ced4da;
  --Neutral-500: #adb5bd;
  --Neutral-600: #6c757d;
  --Neutral-700: #495057;
  --Neutral-800: #343a40;
  --Neutral-900: #212529;
  --Functional-300: #d74f4f;
}
